section {
    margin-top: 36px;
}

section:first-child {
    margin-top: 0;
}

section.principles > .principle-container {
    margin-top: 24px;
}

section.principles > .principle-container:first-child {
    margin-top: 0;
}