section {
    margin-top: 36px;
}

section:first-child {
    margin-top: 0;
}

section.principles > .principle-container {
    margin-top: 24px;
}

section.principles > .principle-container:first-child {
    margin-top: 0;
}

section.process > .process-container {
    margin-top: 24px;
}

section.become-student > ul {
    margin: 24px 0;
}

section.what-well-teach-you > ul {
    margin: 24px 0;
}